<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        .container {

            background: url("image/map2.jpg") no-repeat center center fixed;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
            opacity: 0.4;
        }
    </style>
</head>
<body>
    <div class="container">
        <h1>hi...</h1>
    </div>

</body>
</html>